@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-10%);
    }
}

.scrolling-text-container {
    white-space: nowrap;
    animation: scroll 5s linear infinite;

}

.scrolling-text-container:hover {
    animation-play-state: paused;
}